/Programmering/Inlamningsuppgift1/build/
/Programmering/Inlämningsuppgift 2/InlamningsUppgift2v2/build/
/Programmering/Inlämningsuppgift 2/InlamningsUppgift2v2/nbproject/private/
/Programmering/Inlamningsuppgift2/nbproject/private/
/Programmering/Inlamningsuppgift2/build/
/Programmering/sortandsearch/nbproject/private/
/Programmering/sortandsearch/build/
/Programmering/Fragespart/nbproject/private/
/Programmering/Fragespart/build/
/Programmering/SänkaSkepp/nbproject/private/
/Programmering/SänkaSkepp/build/
/Programmering/SankaSkepp/nbproject/private/
/Programmering/SankaSkepp/build/
/Programmering/Battleship/nbproject/private/
/Programmering/Battleship/build/
/Programmering/Questionmarks/nbproject/private/
/Programmering/Questionmarks/build/
/Programmering/ArraySkitjamforelse/nbproject/private/
/Programmering/ArraySkitjamforelse/build/