/Programmering/Inlamningsuppgift1/build/
/Programmering/Inlämningsuppgift 2/InlamningsUppgift2v2/build/
/Programmering/Inlämningsuppgift 2/InlamningsUppgift2v2/nbproject/private/
/Programmering/Inlamningsuppgift2/nbproject/private/
/Programmering/Inlamningsuppgift2/build/